<h1 id='title'></h1>
<p id='strategy'></p>
<a class='btn btn-success' id='generate' href='/' title='Hit me again!'></a>

<script>
$.getJSON(document.URL + '/data', function(json) {
  $('#title').text(getRandom(json['headings']))

  $('#strategy').text(
    'to put ' +
    getRandom(json['things']) +
    ' into a blockchain in order to disrupt ' +
    getRandom(json['disruptables'])
  )

  $('#generate').text(getRandom(json['responses']))
})

function getRandom(array) {
  return array[Math.floor(Math.random() * array.length)]
}
</script>
