<h1 id='title'></h1>
<p id='strategy'></p>
<a class='btn btn-success' id='generate' href='/' title='Hit me again!'></a>

<script>
$.getJSON(document.URL + '/data', function(json) {
  $('#title').text(getRandom(json['headings']))

  $('#strategy').text(fillTemplate(json))

  $('#generate').text(getRandom(json['responses']))
})

function getRandom(array) {
  return array[Math.floor(Math.random() * array.length)]
}

function fillTemplate(json) {
  template = getRandom(json['templates'])
  var words = template.split(' ')
  var filled_words = []
  $.each(words, function(index, word) {
    if(word.indexOf('@') === 0) {
      filled_words.push(getRandom(json[word.substring(1)]))
    } else {
      filled_words.push(word)
    }
  })

  return filled_words.join(' ')
}
</script>
