---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/wtfismyblockchainstrategy?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1452373757'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Sat, 09 Jan 2016 20:09:17 GMT
- request:
    method: get
    uri: https://api.github.com/repos/pikesley/wtfismyblockchainstrategy?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1452373757'
      Last-Modified:
      - Sat, 09 Jan 2016 17:53:49 GMT
      Etag:
      - '"ffa4fd73d5ee40f59dc5976719b6fa08"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":49331355,"name":"wtfismyblockchainstrategy","full_name":"pikesley/wtfismyblockchainstrategy","owner":{"login":"pikesley","id":885973,"avatar_url":"https://avatars.githubusercontent.com/u/885973?v=3","gravatar_id":"","url":"https://api.github.com/users/pikesley","html_url":"https://github.com/pikesley","followers_url":"https://api.github.com/users/pikesley/followers","following_url":"https://api.github.com/users/pikesley/following{/other_user}","gists_url":"https://api.github.com/users/pikesley/gists{/gist_id}","starred_url":"https://api.github.com/users/pikesley/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pikesley/subscriptions","organizations_url":"https://api.github.com/users/pikesley/orgs","repos_url":"https://api.github.com/users/pikesley/repos","events_url":"https://api.github.com/users/pikesley/events{/privacy}","received_events_url":"https://api.github.com/users/pikesley/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/pikesley/wtfismyblockchainstrategy","description":"","fork":false,"url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy","forks_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/forks","keys_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/keys{/key_id}","collaborators_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/teams","hooks_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/hooks","issue_events_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/issues/events{/number}","events_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/events","assignees_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/assignees{/user}","branches_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/branches{/branch}","tags_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/tags","blobs_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/git/refs{/sha}","trees_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/git/trees{/sha}","statuses_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/statuses/{sha}","languages_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/languages","stargazers_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/stargazers","contributors_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/contributors","subscribers_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/subscribers","subscription_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/subscription","commits_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/commits{/sha}","git_commits_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/git/commits{/sha}","comments_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/comments{/number}","issue_comment_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/issues/comments{/number}","contents_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/contents/{+path}","compare_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/compare/{base}...{head}","merges_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/merges","archive_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/downloads","issues_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/issues{/number}","pulls_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/pulls{/number}","milestones_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/milestones{/number}","notifications_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/labels{/name}","releases_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/releases{/id}","created_at":"2016-01-09T16:18:14Z","updated_at":"2016-01-09T17:53:49Z","pushed_at":"2016-01-09T20:05:10Z","git_url":"git://github.com/pikesley/wtfismyblockchainstrategy.git","ssh_url":"git@github.com:pikesley/wtfismyblockchainstrategy.git","clone_url":"https://github.com/pikesley/wtfismyblockchainstrategy.git","svn_url":"https://github.com/pikesley/wtfismyblockchainstrategy","homepage":"https://wtfismyblockchainstrategy.herokuapp.com/","size":42,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","network_count":0,"subscribers_count":1}'
  recorded_at: Sat, 09 Jan 2016 20:09:33 GMT
- request:
    method: get
    uri: https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/contents?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1452373757'
      Last-Modified:
      - Sat, 09 Jan 2016 17:53:49 GMT
      Etag:
      - '"ee8a63ca72598ddbd5bcc6103ee6b83d"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"name":".gitignore","path":".gitignore","sha":"4a0daefa97ba75a8ef5ae5e653f5db923df64c18","size":20,"url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/contents/.gitignore?ref=master","html_url":"https://github.com/pikesley/wtfismyblockchainstrategy/blob/master/.gitignore","git_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/git/blobs/4a0daefa97ba75a8ef5ae5e653f5db923df64c18","download_url":"https://raw.githubusercontent.com/pikesley/wtfismyblockchainstrategy/master/.gitignore","type":"file","_links":{"self":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/contents/.gitignore?ref=master","git":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/git/blobs/4a0daefa97ba75a8ef5ae5e653f5db923df64c18","html":"https://github.com/pikesley/wtfismyblockchainstrategy/blob/master/.gitignore"}},{"name":".rspec","path":".rspec","sha":"7e3eb5c7cb8e7dec5d148f78f2286b2f079b5a9f","size":43,"url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/contents/.rspec?ref=master","html_url":"https://github.com/pikesley/wtfismyblockchainstrategy/blob/master/.rspec","git_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/git/blobs/7e3eb5c7cb8e7dec5d148f78f2286b2f079b5a9f","download_url":[...]
- request:
    method: get
    uri: https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/contents/data?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Rat[...]
