<div class='footer'>
  <div class='text-center bottom links'>
    inspired by <a href='http://whatthefuckshouldimakefordinner.com/'>this</a>
    |
    made by <a href='http://sam.pikesley.org'>sam</a>
  </div>
</div>
