---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/contents/data?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1452373757'
      Last-Modified:
      - Sat, 09 Jan 2016 17:53:49 GMT
      Etag:
      - '"82a8bcb2f969dd635506294bfaf94cde"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"name":"disruptable.csv","path":"data/disruptable.csv","sha":"9c4d3ca40c9b76aee2242d0e7b9ac82dac03afa8","size":43,"url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/contents/data/disruptable.csv?ref=master","html_url":"https://github.com/pikesley/wtfismyblockchainstrategy/blob/master/data/disruptable.csv","git_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/git/blobs/9c4d3ca40c9b76aee2242d0e7b9ac82dac03afa8","download_url":"https://raw.githubusercontent.com/pikesley/wtfismyblockchainstrategy/master/data/disruptable.csv","type":"file","_links":{"self":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/contents/data/disruptable.csv?ref=master","git":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/git/blobs/9c4d3ca40c9b76aee2242d0e7b9ac82dac03afa8","html":"https://github.com/pikesley/wtfismyblockchainstrategy/blob/master/data/disruptable.csv"}},{"name":"gather.csv","path":"data/gather.csv","sha":"0540f1b1c44295e77573511cc5bcc8495d7f0432","size":31,"url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/contents/data/gather.csv?ref=master","html_url":"https://github.com/pikesley/wtfismyblockchainstrategy/blob/master/data/gather.csv","git_url":"https://api.github.com/repos/pikesley/wtfismyblockchainstrategy/git/blobs/0540f1b1c44295e7[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/pikesley/wtfismyblockchainstrategy/master/data/disruptable.csv?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"9c4d3ca40c9b76aee2242d0e7b9ac82dac03afa8"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Fastly-Request-Id:
      - e117d0c015aa6f22c3526e78547e576ed48ae4c9
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        the movie industry
        the banking sector
        Uber
  recorded_at: Sat, 09 Jan 2016 20:34:55 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/pikesley/wtfismyblockchainstrategy/master/data/gather.csv?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"0540f1b1c44295e77573511cc5bcc8495d7f0432"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Fastly-Request-Id:
      - 6bd1ed0232548d812be8f335fe2e2d8672e1528c
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        convene
        gather
        round up
        muster
  recorded_at: Sat, 09 Jan 2016 20:34:55 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/pikesley/wtfismyblockchainstrategy/master/data/group.csv?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ec33c58a327b236bfd1e94fcc79d622993827c60"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Fastly-Request-Id:
      - 680461f828650fc2b9e818c29c9f997b95409cc6
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        posse
        bundle
        pack
        group
        set
  recorded_at: Sat, 09 Jan 2016 20:34:56 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/pikesley/wtfismyblockchainstrategy/master/data/headings.csv?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"2251cb86c6f2cde03dd27a6440302744c89e2e0d"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Fastly-Request-Id:
      - bc1e64b4d5e60ea93ca7e2e67fedd9f6df19bd37
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        "Check this shit out, my blockchain strategy is"
        "Stop what you're doing and look at this, my blockchain strategy is"
        "My blockchain strategy, have you grokked it?"
  recorded_at: Sat, 09 Jan 2016 20:34:56 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/pikesley/wtfismyblockchainstrategy/master/data/responses.csv?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"591fd680cc20f31c4ceab83545db77f5285c3f63"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Fastly-Request-Id:
      - 489219253675fbfc8b9cdf24aee99dec7b2c94df
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        Is that the best you can do?
        Say 'Blockchain' one more time!
        I will blockchain you into a bin in a minute
  recorded_at: Sat, 09 Jan 2016 20:34:56 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/pikesley/wtfismyblockchainstrategy/master/data/templates.csv?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"7390526a7be73aa7a964808e1a7088225dda86e2"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Fastly-Request-Id:
      - 212b22adf4ccabc1992bcbc684eb717c501a31c1
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        to put @things into a blockchain in order to disrupt @disruptable
        to @gather a @group of @things in order to @verb the blockchain ecosystem
  recorded_at: Sat, 09 Jan 2016 20:34:56 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/pikesley/wtfismyblockchainstrategy/master/data/things.csv?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"614271873eba39267c899ab815e4e05c536e1737"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Fastly-Request-Id:
      - 2f2ddcc6ee08fe9ca6920fc918eac22b373b6824
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        cats
        dogs
        rabbits
        meerkats
        horses
        velociraptors
        minifigs
        owls
  recorded_at: Sat, 09 Jan 2016 20:34:56 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/pikesley/wtfismyblockchainstrategy/master/data/verb.csv?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5c0d0ccd6960afefa08d49195c934a059afe4b03"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Fastly-Request-Id:
      - d0ef6d54b51320e46f97465ed2d12c3a423e502c
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        disrupt
        monetise
        agitate
        rattle
  recorded_at: Sat, 09 Jan 2016 20:34:57 GMT
recorded_with: VCR 3.0.1
